@model IEnumerable<QLNV.Web.Models.PhongBan.PhongBanView>

@{
    ViewData["Title"] = "PhongBan";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

    <h1>PhongBan</h1>

<p>
    <a asp-action="Taophongban">Tạo Phòng Ban</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ID)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaPhongBan)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TenPhongBan)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaPhongBan)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TenPhongBan)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
            </td>
        </tr>
}
    </tbody>
</table>
